<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_read_book"
        android:label="@string/app_name"
        android:logo="@mipmap/icon_read_book"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.theme.ThemeActivity" />
        <activity android:name=".ui.record.ReadRecordActivity" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:launchMode="singleTask"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.setting.SettingActivity" />
        <activity
            android:name=".ui.read.ReadBookActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.chapter.ChapterListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.MainActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.main.bookshelf.arrange.ArrangeBookActivity"
            android:launchMode="singleTask" />

        <service android:name=".service.TTSReadAloudService" />
    </application>

</manifest>